<!-- -->
<ion-content class="animated fadeIn login auth-page background">
    <div class="login-content">
  
      <!-- Logo -->
    <ion-img class="img-logo" src="assets/IMG-20210623-WA0000.png" style="margin-top: 20px;"></ion-img>
      <div padding text-center>
        <!-- <div class="logo"></div> -->
        <h2 ion-text class="text-primary">
          <!-- <strong>Rutapp</strong>  -->
          Registrarse
        </h2>
      </div>
  
      <!-- Login form -->
      <form class="list-form" (ngSubmit)="registro()" (keyup.enter)="registro()" [formGroup]="formularioDeRegistro">
        <ion-item>
          <ion-label floating>
            <ion-icon name="person" item-start class="text-primary"></ion-icon>
            <!-- Nombre -->
          </ion-label>
          <ion-input type="text" placeholder="Nombre" formControlName="nombre" (ionChange)="handlerChange($event)"></ion-input>
        </ion-item>
        <p *ngIf="errorRegistro?.nombre" class="p-error">{{errorRegistro?.nombre}}</p>
        
        <ion-item>
          <ion-label floating>
            <ion-icon name="person" item-start class="text-primary"></ion-icon>
            <!-- Apellido -->
          </ion-label>
          <ion-input type="text" placeholder="Apellido" formControlName="apellido" (ionChange)="handlerChange($event)"></ion-input>
        </ion-item>
        <p *ngIf="errorRegistro?.apellido" class="p-error">{{errorRegistro?.apellido}}</p>
        
        <ion-item>
          <ion-label floating>
            <ion-icon name="mail" item-start class="text-primary"></ion-icon>
            <!-- Email -->
          </ion-label>
          <ion-input type="email" placeholder="Correo electrónico" formControlName="email" (ionChange)="handlerChange($event)"></ion-input>
        </ion-item>
        <p *ngIf="errorRegistro?.email" class="p-error">{{errorRegistro?.email}}</p>
  
        <ion-item>
          <ion-label floating>
            <ion-icon name="lock-closed" item-start class="text-primary"></ion-icon>
            <!-- Password -->
          </ion-label>
          <ion-input type="password" placeholder="password" formControlName="password" (ionChange)="handlerChange($event)"></ion-input>
        </ion-item>
        <p *ngIf="errorRegistro?.password" class="p-error">{{errorRegistro?.password}}</p>

      </form>
  

      <button ion-button icon-start block class="btn-singin"  tappable (click)="register()">
        <ion-icon name="log-in"></ion-icon>
        REGISTRAR
      </button>

      <p text-center ion-text style="color: #4c6df9; font-size: small;">O</p>
      <!-- <p text-center ion-text style="color: #4c6df9; font-size: small;">O registrarse con:</p> -->
      <div class="botonera">
        <!-- <button ion-button icon-only block class="btn-facebook " (click)="registroConFacebook()">
          <ion-icon name="logo-facebook"></ion-icon>
        </button>
        <button ion-button icon-only block class="btn-gplus" (click)="registroConGoogle()">
          <ion-icon name="logo-google"></ion-icon>
        </button> -->
        <div class="google-btn" (click)="registroConGoogle()">
          <div class="google-icon-wrapper" style="display: flex; justify-content: center; align-items: center;">
            <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"
              alt="google button" />
          </div>
          <p class="btn-text">
            <b>Registrarse con google</b>
          </p>
        </div>
      </div>

      <p text-center ion-text style="color: #4c6df9" tappable (click)="irAlogin()" >Tengo una cuenta</p>

    </div>
  </ion-content>