<div *ngIf="!!cliente" class="ion-page" id="main-content">

  <ion-header [translucent]="true">
    <ion-toolbar color="secondary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref=""></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
      <ion-title> Cliente </ion-title>
      <!-- 
      <ion-title *ngIf="viewMode && cliente!!">{{ cliente.nombre }}</ion-title>
      <ion-title *ngIf="editMode">Editar Cliente</ion-title>
      <ion-title *ngIf="createMode">Crear Cliente</ion-title> -->
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <!-- <ion-item id="formCliente" *ngIf="createMode"> -->

    <form [formGroup]="clienteForm" (ngSubmit)="onSubmit(clienteForm,$event)">
      <div class="buscador">

        <ion-item>
          <ion-input formControlName="nombre" type="text" name="nombre" placeholder="Nombre">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input formControlName="cuit" type="text" name="cuit" placeholder="Cuit">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Promedio de espera</ion-label>
          <ion-datetime formControlName="promedio_espera" name="promedio_espera" displayFormat="HH:mm"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-input formControlName="observaciones" type="text" name="observaciones" placeholder="Observaciones">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input formControlName="calle" size="auto" class="search-input" type="text" name="calle"
            placeholder="Calle">
          </ion-input>
          <ion-input formControlName="altura" type="text" name="altura" placeholder="Altura"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input formControlName="localidad" type="text" name="localidad" placeholder="Localidad"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input formControlName="provincia" type="text" name="provincia" placeholder="Provincia"></ion-input>
        </ion-item>
        <!--  <ion-item>
          <agm-map [zoom]="15" [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>
        </ion-item> -->

        <div formArrayName="contactos">
          <ion-item lines="none">
            <ion-label>Contactos</ion-label>
            <ion-button *ngIf="!viewMode" type="button" (click)="addContactoFormRow($event)" slot="end" fill="clear">
              <ion-icon name="add-circle"></ion-icon>
            </ion-button>
          </ion-item>
          <div *ngFor="let contacto of clienteForm.get('contactos')['controls']; let i = index">
            <div [formGroupName]="i">
              <ion-item-group>
                <ion-item lines="none" style="vertical-align: middle;" class="ion-text-center">
                  <ion-label>Contacto N°{{i+1}}</ion-label>
                  <ion-button *ngIf="!viewMode" fill="clear" color="danger" slot="end"
                    (click)="removeContactoFormRow(i)">
                    <ion-icon name="trash-outline"></ion-icon>
                  </ion-button>
                </ion-item>
                <ion-input placeholder="Nombre" type="text" required formControlName="contactoNombre"></ion-input>
                <ion-input placeholder="Apellido" type="text" required formControlName="contactoApellido"></ion-input>
                <ion-input placeholder="Teléfono" type="text" required formControlName="contactoTelefono"></ion-input>
                <ion-input placeholder="Email" type="email" required formControlName="contactoEmail">
                </ion-input>
                <!-- <ion-checkbox slot="start" placeholder="Correcta" checked="false" formControlName="correcta">
                </ion-checkbox> -->
              </ion-item-group>
              <!--
              <div *ngFor="let error of errorMessages.opciones">
                <ng-container *ngIf="i.opcion.hasError(error.type) && (i.opcion.dirty || i.opcion.touched)">
                  <small class="error-message">{{ error.message }}</small>
                </ng-container>
              </div>
              -->
            </div>
          </div>
        </div>

        <ion-list formArrayName="disponibilidades">

          <ion-item *ngFor="let disponibilidad of clienteForm.get('disponibilidades')['controls']; let i = index"
            style="width: 100%;" lines="none">
            <ion-grid [formGroupName]="i">
              <ion-row class="ion-align-items-center">

                <ion-col size="1">
                  <ion-checkbox formControlName="disponibilidadSeleccionado"></ion-checkbox>
                  <!-- <ion-input required="true" type="number" placeholder="Cant." [min]="1" [(ngModel)]="pr.cantidad"
                    (ionChange)="calcularTotal()">
                  </ion-input> -->
                </ion-col>

                <ion-col size="5">
                  <!-- <ion-label>Lunes</ion-label> -->
                  <!-- <ion-label formControlName="disponibilidadDiaSemana">#</ion-label> -->
                  <ion-input formControlName="disponibilidadDiaSemana" disabled="true"></ion-input>
                </ion-col>

                <ion-col size="3">
                  <ion-datetime formControlName="disponibilidadHoraApertura" displayFormat="HH:mm"></ion-datetime>
                </ion-col>

                <ion-col size="3">
                  <ion-datetime formControlName="disponibilidadHoraCierre" displayFormat="HH:mm"></ion-datetime>
                </ion-col>

              </ion-row>
            </ion-grid>
          </ion-item>


        </ion-list>



        <!-- <ion-item *ngFor="let contacto of cliente.contactos; let idx = index">
          <ion-label color="primary">{{cliente.contacto.nombre}}{{idx+1}}</ion-label>
          <ion-input type="text" text-right [(ngModel)]="cliente.contactos[idx].nombre"></ion-input>
          <ion-input type="text" text-right [(ngModel)]="cliente.contactos[idx].apellido"></ion-input>
        </ion-item>
        <ion-button (click)="Add()">Add More</ion-button>
        <ion-button full (click)="goTo()">let's go</ion-button>

        <ion-card *ngIf="data">
          <ion-item *ngFor="let contacto of cliente.contactos">
            <div class="card-title">{{contacto.nombre}}</div>
          </ion-item>
        </ion-card> -->


        <!-- <div *ngFor="let error of errorMessages.cliente">
          <ng-container *ngIf="cliente.hasError(error.type) && (cliente.dirty || cliente.touched)">
            <small class="error-message">{{ error.message }}</small>
          </ng-container>
        </div> -->

      </div>

      <!-- <ion-item>
        <ion-button class="btn btn-primary" type="submit" [disabled]="clienteForm.invalid">Guardar</ion-button>
      </ion-item> -->
    </form>

    <!--  </ion-item> -->

    <!--  <ion-item id="clienteView" *ngIf="viewMode && cliente!!">
      <ion-grid>
        <ion-row>
          <ion-col>
            <small style="color:gray">Nombre</small>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin-bottom">
          <ion-col>
            {{ cliente.nombre }}
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <small style="color:gray">Calle</small>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin-bottom">
          <ion-col>
            {{ cliente.direccion.calle }}
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <small style="color:gray">Altura</small>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin-bottom">
          <ion-col>
            {{ cliente.direccion.altura }}
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <small style="color:gray">Localidad</small>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin-bottom">
          <ion-col>
            {{ cliente.direccion.localidad }}
          </ion-col>
        </ion-row>
      </ion-grid>


      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="warning" (click)="borrarCliente()">
          <ion-icon name="trash"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-item> -->

  </ion-content>


  <!--  <ion-footer>
    <ion-toolbar color="light">
      <ion-buttons color="light" slot="start">
        <a class="waves-effect waves-light btn-small">button</a>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer> -->
</div>