.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
}
.btn-small {
    height: 32.4px;
    line-height: 32.4px;
    font-size: 13px;
}
.btn, .btn-large, .btn-small {
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
}
.btn, .btn-large, .btn-small, .btn-floating, .btn-large, .btn-small, .btn-flat {
    font-size: 14px;
    outline: 0;
}
.btn, .btn-large, .btn-small, .btn-flat {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
    -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

agm-map {
    height: 300px;
    width: 300px;
}

ion-datetime {
    border-width: 1px; 
    border-style: solid;
    border-color: var(--ion-color-primary);
    width: 100%;
    text-align: center;
}

:host{
    ion-button{
      --transition: background-color,opacity 100ms linear;
      --ripple-color: currentColor;
      --border-radius: 50%;
      --border-width: 0;
      --border-style: none;
      --border-color: initial;
      --padding-top: 0;
      --padding-end: 0;
      --padding-bottom: 0;
      --padding-start: 0;
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
      margin-bottom: 0;   
      display: block;     
      width: 56px;
      height: 56px;
      position: relative;
      font-size: 14px;
      text-align: center;
      text-overflow: ellipsis;
      text-transform: none;
      white-space: nowrap;
      -webkit-font-kerning: none;
      font-kerning: none;
      ion-icon{
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
  }