<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let elemento of elementos; let i= index">
      <ion-label>{{elemento.producto.nombre}}</ion-label>
      <ion-checkbox [(ngModel)]="elemento.seleccionado"></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-button color="danger" size="default" slot="end" (click)="cancelar()">Cancelar</ion-button>
    <ion-button color="success" size="default" slot="end" (click)="agregarElementos()">Aceptar</ion-button>
  </ion-item>
</ion-content>