<div class="ion-page" id="main-content">

  <ion-header [translucent]="true">
    <ion-toolbar color="secondary">

      <ion-buttons slot="start">
        <ion-back-button (click)="volverAListaRemitos()" defaultHref="remitos"></ion-back-button>
      </ion-buttons>

      <ion-buttons slot="end">
        <ion-menu-button autoHide="false" color="light"></ion-menu-button>
      </ion-buttons>

      <ion-title *ngIf="viewMode && remito!!">Remito</ion-title>
      <ion-title *ngIf="editMode">Editar Remito</ion-title>
      <ion-title *ngIf="createMode">Crear Remito</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-content id="formRemito" *ngIf="createMode || (editMode && !!remito)">

      <ion-item>
        <ion-label floating>Fecha del Remito</ion-label>
        <ion-datetime [monthNames]="mesesCustomizados" cancelText="Cancelar" doneText="Aceptar"
          displayFormat="DD/MMMM/YYYY" pickFormat="DDDD MMMM YYYY" [(ngModel)]="remito.fechaDeCreacion"
          [max]="fechaDeHoy"></ion-datetime>
      </ion-item>

      <!--
        Alternativa que me dio Maxi para setear un valor cuando haces editar en el ion-select   
  
        <ion-item>
          <ion-label>Categoria</ion-label>
          <ion-select placeholder="Seleccione categoria por favor" formControlName="categoria" type="text" name="categoria">
            <ion-select-option value="{{categoria.id}}" *ngFor="let categoria of categorias">{{categoria.descripcion}}</ion-select-option>
          </ion-select>
        </ion-item>
     -->
      <ion-item style="width: 100%;">
        <ion-label>Cliente</ion-label>
        <!-- opciones de interface para el ion-select interface="popover"||"alert" -->
        <ion-select required="true" interface="action-sheet" [selectedText]="remito.cliente.nombre"
          [(ngModel)]="remito.cliente" placeholder="Seleccione el cliente" okText="Aceptar" cancelText="Cancelar">
          <!-- <ion-select-option *ngFor="let cliente of clientes" [value]="cliente">{{ cliente.nombre }} -->
          <ion-select-option *ngFor="let cliente of clientes" [value]="cliente">{{ cliente.nombre }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <!-- <ion-label>Tiempo de espera aproximado</ion-label> -->
        <ion-input placeholder="Minutos de espera aprox." [(ngModel)]="remito.tiempo_espera"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Productos</ion-label>
        <!-- <ion-button fill="transparent" slot="icon-only"> -->
        <ion-button size="default" (click)="presentModal()" fill="clear">
          <ion-icon name="add-circle"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-list>

        <ion-item>
          <ion-grid>
            <ion-row style="background-color: lightgrey;" class="ion-align-items-center">
              <ion-col size="2">
                <ion-text color="primary">Cant.</ion-text>
              </ion-col>
              <ion-col size="5">
                <ion-text color="primary">Descripción</ion-text>
              </ion-col>
              <ion-col size="3">
                <ion-text color="primary">% Desc.</ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item *ngFor="let pr of remito.productosDelRemito" style="width: 100%;">
          <ion-grid>
            <ion-row class="ion-align-items-center">

              <ion-col size="2">
                <ion-input required="true" type="number" placeholder="Cant." [min]="1" [(ngModel)]="pr.cantidad"
                  (ionChange)="calcularTotal()">
                </ion-input>
              </ion-col>

              <ion-col size="5">
                <ion-label>{{ pr.producto.nombre }}</ion-label>
              </ion-col>

              <ion-col size="3">
                <ion-input required="true" type="number" placeholder="% Desc." [min]="0" [max]="100"
                  [(ngModel)]="pr.descuento" (ionChange)="calcularTotal()">
                </ion-input>
              </ion-col>

              <ion-col class="ion-align-self-end" size="2">
                <ion-button fill="clear" (click)="eliminarProducto(pr)" color="danger">
                  <ion-icon name="trash"></ion-icon>
                </ion-button>
              </ion-col>

            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label style="color:gray">Cantidad de productos</ion-label>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin-bottom">
          <ion-col>
            {{ remito.cantidadDeItems }}
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-label style="color:gray">Precio total</ion-label>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin-bottom">
          <ion-col>
            $ {{ remito.total }}
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button color="warning" (click)="guardarRemito()">
          <ion-icon name="save-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>

    </ion-content>


    <ion-content id="remitoView" *ngIf="viewMode && remito!!">
      <ion-grid style="margin-bottom: 50px">

        <ion-row>
          <ion-col>
            <ion-label style="color:gray">Cliente</ion-label>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin-bottom">
          <ion-col>
            {{ remito.cliente.nombre }}
          </ion-col>
        </ion-row>

        <ion-row *ngIf="!!remito.hojaDeRuta">
          <ion-col>
            <ion-label style="color:gray">Hoja de Ruta</ion-label>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!!remito.hojaDeRuta" class="ion-margin-bottom">
          <ion-col>
            {{ remito.hojaDeRuta.id_hoja_de_ruta }}
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-label style="color:gray">Estado</ion-label>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin-bottom">
          <ion-col>
            {{ remito.estado.nombre }}
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-label style="color:gray">Productos</ion-label>
          </ion-col>
        </ion-row>

        <ion-list>
          <ion-item>
            <ion-grid>
              <ion-row style="background-color: lightgrey;" class="ion-align-items-center">
                <ion-col>
                  <ion-text color="primary">Cant.</ion-text>
                </ion-col>
                <ion-col>
                  <ion-text color="primary">Descripción</ion-text>
                </ion-col>
                <ion-col style="size: 2px;">
                  <ion-text color="primary">Precio Unit.</ion-text>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-item *ngFor="let item of remito.productosDelRemito" class="ion-margin-bottom">
            <ion-grid>
              <ion-row>
                <ion-col class="ion-align-self-center">
                  {{ item.cantidad }}
                </ion-col>
                <ion-col class="ion-align-self-start">
                  {{ item.producto.nombre }}
                </ion-col>
                <ion-col class="ion-align-self-center">
                  $ {{ item.precio_unitario }}
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>

        <ion-row>
          <ion-col>
            <ion-label style="color:gray">Cantidad de productos</ion-label>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin-bottom">
          <ion-col>
            {{ remito.cantidadDeItems }}
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-label style="color:gray">Precio total</ion-label>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin-bottom">
          <ion-col>
            $ {{ remito.total }}
          </ion-col>
        </ion-row>

      </ion-grid>

      <ion-fab *ngIf="remito.estado.nombre === 'Pendiente'" vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button color="warning" (click)="editarRemito()">
          <ion-icon name="create-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>

      <ion-fab *ngIf="remito.estado.nombre === 'Pendiente'" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="danger" (click)="borrarRemito()">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>


    </ion-content>

  </ion-content>


  <!--   <ion-footer>
    <ion-toolbar color="light">
      <ion-buttons color="light" slot="start">
        <a class="waves-effect waves-light btn-small">button</a>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer> -->
</div>