<div class="ion-page" id="main-content">

  <ion-header [translucent]="true">
    <ion-toolbar color="secondary">

      <ion-buttons slot="start">
        <ion-back-button defaultHref=""></ion-back-button>
      </ion-buttons>

      <ion-buttons slot="end">
        <ion-menu-button autoHide="false" color="light"></ion-menu-button>
      </ion-buttons>

      <ion-title *ngIf="viewMode && remito!!">{{ remito.nombre }}</ion-title>
      <ion-title *ngIf="editMode">Editar Remito</ion-title>
      <ion-title *ngIf="createMode">Crear Remito</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-item id="formRemito" *ngIf="createMode">

      <form [formGroup]="remitoForm" (ngSubmit)="onSubmit(remitoForm,$event)">
        <div class="buscador">
          <ion-item color="secondary">
            <ion-input formControlName="nombreDeCliente" type="text" name="nomnombreDeClientebre"
              placeholder="Nombre del Cliente"></ion-input>
          </ion-item>
          <ion-item color="secondary">
            <ion-input formControlName="pedidos" class="search-input" type="text" name="pedidos" placeholder="Pedidos">
            </ion-input>
          </ion-item>

          <div *ngFor="let error of errorMessages.remito">
            <ng-container *ngIf="remito.hasError(error.type) && (remito.dirty || remito.touched)">
              <small class="error-message">{{ error.message }}</small>
            </ng-container>
          </div>
        </div>
        <ion-item>
          <ion-button class="btn btn-primary" type="submit" [disabled]="remitoForm.invalid">Guardar</ion-button>
        </ion-item>
      </form>

    </ion-item>

    <ion-item id="remitoView" *ngIf="viewMode && remito!!">
      <ion-grid>

        <ion-row>
          <ion-col>
            <small style="color:gray">Cliente</small>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin-bottom">
          <ion-col>
            {{ remito.cliente.nombre }}
          </ion-col>
        </ion-row>

        <ion-row *ngIf="!!remito.hojaDeRuta">
          <ion-col>
            <small style="color:gray">Hoja de Ruta</small>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!!remito.hojaDeRuta" class="ion-margin-bottom">
          <ion-col>
            {{ remito.hojaDeRuta.id }}
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <small style="color:gray">Estado</small>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin-bottom">
          <ion-col>
            {{ remito.estado.nombre }}
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <small style="color:gray">Productos</small>
          </ion-col>
        </ion-row>

        <ion-list>
          <ion-item>
            <ion-grid>
              <ion-row style="background-color: lightgrey;" class="ion-align-items-center">
                <ion-col>
                  <ion-text color="primary">Cant.</ion-text>
                </ion-col>
                <ion-col>
                  <ion-text color="primary">Descripción</ion-text>
                </ion-col>
                <ion-col style="size: 2px;">
                  <ion-text color="primary">Precio Unit.</ion-text>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-item *ngFor="let item of remito.productos" class="ion-margin-bottom">
            <ion-grid>
              <ion-row>
                <ion-col class="ion-align-self-center">
                  {{ item.cantidad }}
                </ion-col>
                <ion-col class="ion-align-self-start">
                  {{ item.producto.nombre }}
                </ion-col>
                <ion-col class="ion-align-self-center">
                  $ {{ item.precio_unitario }}
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>

        <ion-row>
          <ion-col>
            <small style="color:gray">Cantidad de productos</small>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin-bottom">
          <ion-col>
            {{ remito.cantidadDeItems }}
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <small style="color:gray">Precio total</small>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin-bottom">
          <ion-col>
            $ {{ remito.total }}
          </ion-col>
        </ion-row>

      </ion-grid>

      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="warning" (click)="borrarRemito()">
          <ion-icon name="trash"></ion-icon>
        </ion-fab-button>
      </ion-fab>

    </ion-item>

  </ion-content>


  <ion-footer>
    <ion-toolbar color="light">
      <ion-buttons color="light" slot="start">
        <a class="waves-effect waves-light btn-small">button</a>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</div>