/* Set the width to the full container and center the content */
ion-select {
  width: 100%;
  justify-content: center;
}

/* Set the flex in order to size the text width to its content */
ion-select::part(placeholder),
ion-select::part(text) {
  flex: 0 0 auto;
}

/* Set the placeholder color and opacity */
ion-select::part(placeholder) {
  color: gray;
  opacity: 1;
}

/* Set the text color */
ion-select::part(text) {
  color: var(--ion-color-primary);
}

/////////////////////////
/// ESTILO REMITO PDF ///
/////////////////////////

.invoice-box {
  width: 800px;
  padding: 30px;
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  line-height: 24px;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  color: #555;
}

.invoice-box table {
  width: 100%;
  line-height: inherit;
  text-align: left;
}

.invoice-box table td {
  padding: 5px;
  vertical-align: top;
}

.invoice-box table tr td:nth-child(2) {
  text-align: right;
}

.invoice-box table tr.top table td {
  padding-bottom: 20px;
}

.invoice-box table tr.top table td.title {
  font-size: 45px;
  line-height: 45px;
  color: #333;
}

.invoice-box table tr.information table td {
  padding-bottom: 40px;
}

.invoice-box table tr.heading td {
  background: #eee;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}

.invoice-box table tr.item td {
  border-bottom: 1px solid #eee;
}

.invoice-box table tr.heading td:nth-child(1) {
  text-align: center;
}

.invoice-box table tr.item td:nth-child(1) {
  text-align: center;
}

.invoice-box table tr.heading td:nth-child(2) {
  text-align: left;
}

.invoice-box table tr.item td:nth-child(2) {
  text-align: left;
}

.invoice-box table tr.heading td:nth-child(3) {
  text-align: right;
}

.invoice-box table tr.item td:nth-child(3) {
  text-align: right;
}

.invoice-box table tr.heading td:nth-child(4) {
  text-align: right;
}

.invoice-box table tr.item td:nth-child(4) {
  text-align: right;
}

.invoice-box table tr.total td:nth-child(4) {
  border-top: 2px solid #eee;
  font-weight: bold;
  text-align: right;
}
