<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar color="secondary">
      <ion-title>Ingrese su email</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <ion-content padding> -->
    <form class="list-form" (ngSubmit)="login()" (keyup.enter)="login()" [formGroup]="credenciales">
      
      <ion-item class="input-login">
        <ion-label floating>
          <ion-icon name="mail" item-start class="text-primary"></ion-icon>
        </ion-label>
        <ion-input  type="email" placeholder="juan@perez.com"  formControlName="email" name="email" (ionChange)="handlerChange($event)"></ion-input>
      </ion-item>
        <p *ngIf="errorCredenciales?.email" class="p-error">{{errorCredenciales?.email}}</p>
    </form>
  <!-- </ion-content> -->

  <ion-footer>
    <ion-toolbar color="light">
      <ion-item>
        <ion-button color="success" size="default" slot="end" (click)="enviarClave()">Enviar</ion-button>
        <ion-button color="danger" size="default" slot="start" (click)="cancelar()">Cancelar</ion-button>
      </ion-item>
    </ion-toolbar>
  </ion-footer>
</div>