<div class="ion-page" id="main-content">

  <ion-header [translucent]="true">
    <ion-toolbar color="secondary">
      <ion-buttons slot="end">
        <ion-menu-button autoHide="false" color="light"></ion-menu-button>
      </ion-buttons>
      <ion-title class="large-title">Remitos</ion-title>
    </ion-toolbar>
    <ion-toolbar color="secondary">
      <ion-searchbar (ionInput)="getRemitosBusqueda($event)" autocomplete="on" placeholder="Buscar Remito"
        color="primary">
      </ion-searchbar>
      <ion-button icon-only slot="end" fill="clear" size="large" (click)="presentPopover($event)" ><ion-icon name="ellipsis-vertical-circle"></ion-icon></ion-button>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list id="inbox-list">
      <ion-item *ngFor="let remito of remitos" [routerLink]="['/remitos',remito.idRemito]">
        <ion-avatar slot="start">
          <ion-img [src]="remito.cliente.urlImagenPerfil"></ion-img>
        </ion-avatar>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label>
                {{ remito.cliente.nombre }}
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text><small>Items: {{remito.cantidadDeItems}}</small></ion-text>
            </ion-col>
            <ion-col>
              <ion-text><small>Total: $ {{remito.total}}</small></ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="primary" (click)="agregarNuevoRemito()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
</div>