<div class="ion-page" id="main-content">

  <ion-header [translucent]="true">
    <ion-toolbar color="secondary">
      <ion-buttons *ngIf='!onlyView' slot="start" (click)="cambiarEstadoDeVista()">
        <ion-back-button defaultHref="reportes"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
      <ion-title class="large-title"> Reportes </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="ion-padding">

      <!-- Theme classes dark, material, bootstrap -->
      <ngx-datatable class="bootstrap" [limit]="8" 
      [rows]="rows" [rowHeight]="50" [columns]="columns"
      [columnMode]="'force'" [sortType]="'multi'" 
      [headerHeight]="50" [footerHeight]="50"
      [scrollbarV]="true" [scrollbarH]="true">
      </ngx-datatable>

    </div>
  </ion-content>


</div>